<div class="bg-blue-600">
    <button class="btn btn-blue" routerLink="./cqrs">CQRS</button>
    <button class="btn btn-purple" routerLink="./latestnews">Latest News</button>
    <button class="btn btn-blue" routerLink="./latestnews2">Latest News2</button>
    <button class="btn btn-purple" routerLink="./counter">Counter</button>
    <button class="btn btn-blue" routerLink="./todos">Todos</button>
    <button class="btn btn-purple" routerLink="./relation">Relation</button>
  </div>
  <div class="container mx-auto">
    <router-outlet></router-outlet>
  </div>
