<div class="bg-blue-600">
  <button class="btn btn-blue" routerLink="/reactive-form">Reactive Form</button>
  <button class="btn btn-purple" routerLink="/stepper">Stepper</button>
  <button class="btn btn-blue" routerLink="/tabs">Tabs</button>
  <button class="btn btn-purple" routerLink="/dynamic">Dynamic</button>
  <button class="btn btn-blue" routerLink="/template">Template Outlet</button>
  <button class="btn btn-purple" routerLink="/rxjs">Rxjs</button>
</div>
<div class="container mx-auto">
  <router-outlet></router-outlet>
</div>