<div class="flex bg-white border p-2 justify-between">
   <div>
        <input class="align-middle" type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodo()" >
        <span style="cursor: pointer;" (dblclick)="isDblclick=true" *ngIf="!isDblclick else edit">
            {{todo?.description}} 
        </span>
   </div> 
   <div>
       <button class="text-red-200 hover:text-red-600" (click)="removeTodo()" >Remove</button>
   </div>
</div>
<ng-template #edit>
<form class="inline-block" (ngSubmit)="updateTodo()">
    <input class="ml-1 pl-2 border" autofocus type="text" name="description" [(ngModel)]="todo.description">
</form>
</ng-template>

