<div  *ngIf="service.searchCategory$|async as sc">
    <div class="float-left">{{service.activeItem$|async}}</div>
    <div class="float-right">
        <button class="mr-2 text-blue-500 hover:text-blue-800" [class.active]="sc===1" (click)="all()">All</button>
        <button class="mr-2 text-blue-500 hover:text-blue-800" [class.active]="sc===2" (click)="active()">Active</button>
        <button class="mr-2 text-blue-500 hover:text-blue-800" [class.active]="sc===3" (click)="completed()">Completed</button>
    </div>
    <div class="clear-both"></div>
</div>
